<%- include('includes/head.ejs') %>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<ul class="icons">
						<li><a href="https://github.com/msrezaie" target="_blank" class="icon brands fa-github"><span
									class="label">github</span></a></li>
						<li><a href="https://www.linkedin.com/in/msrezaie/" target="_blank"
								class="icon brands fa-linkedin"><span class="label">linkedin</span></a></li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>Hi, I’m Mo</h1>
						</header>
						<p><strong>Full stack software engineer</strong> with a passion for building creative and
							user-friendly applications.</p>
						<ul class="resume">
							<li><a href="https://mo-resume.tiiny.site/" target="_blank" class="button primary big"><i
										class="fa-solid fa-file"></i> Resume</a></li>
						</ul>
					</div>
				</section>

				<!-- recent projects -->
				<section>
					<header class="major">
						<h2>Projects</h2>
					</header>
					<div class="posts">
						<article>
							<div class="image proj-gif"><a href="https://www.talckatoo.me/"
									target="_blank"><img src="images/ta.png" alt="" /></a></div>
							<h3>Talckatoo</h3>
							<p>A cutting-edge multi-language chat app that effortlessly connects individuals from different linguistic backgrounds.
							</p>
							<strong>Tools:</strong>
							<ul class="tools">
								<li><a href="https://socket.io/"><img
											src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/socketio/socketio-original.svg"
											alt="html5" width="30" height="30" /></a></li>
								<li><a href="https://expressjs.com/"><img
									src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
									alt="expressjs" width="30" height="30" /></a></li>
								<li><a href="https://react.dev/"><img
									src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
									alt="react" width="30" height="30" /></a></li>
								<li><a href="https://nodejs.org"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
											alt="nodejs" width="30" height="30" /></a></li>
								<li><a href="https://www.mongodb.com/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
											alt="mongodb" width="30" height="30" /></a></li>
							</ul>
							<ul class="actions">
								<li><a href="https://www.talckatoo.me/" target="_blank"
										class="button primary"><i class="fa-solid fa-eye"></i> Live</a></li>
								<li><a href="https://github.com/Talckatoo" target="_blank"
										class="button primary"><i class="icon brands fa-github"></i> Code</a></li>
							</ul>
						</article>
						<article>
							<div class="image proj-gif"><a href="https://text-crypt.netlify.app/" target="_blank"><img
										src="images/tc.png" alt="" /></a></div>
							<h3>Textual Cryptography</h3>
							<p>A text based cryptography app allowing encryption and decryption of text using various
								ciphers.</p>
							<strong>Tools:</strong>
							<ul class="tools">
								<li><a href="https://www.mongodb.com/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
											alt="mongodb" width="30" height="30" /></a></li>
								<li><a href="https://expressjs.com/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
											alt="expressjs" width="30" height="30" /></a></li>
								<li><a href="https://react.dev/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
											alt="react" width="30" height="30" /></a></li>
								<li><a href="https://nodejs.org"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
											alt="nodejs" width="30" height="30" /></a></li>
								<li><a href="https://www.python.org"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
											alt="python" width="30" height="30" /></a></li>
							</ul>
							<ul class="actions">
								<li><a href="https://text-crypt.netlify.app/" target="_blank" class="button primary"><i
											class="fa-solid fa-eye"></i> Live</a></li>
								<li><a href="https://github.com/msrezaie/textual-cryptography" target="_blank"
										class="button primary"><i class="icon brands fa-github"></i> Code</a></li>
							</ul>
						</article>
						<article>
							<div class="image proj-gif"><a href="https://maajonskitchen-demo.onrender.com/"
									target="_blank"><img src="images/mjk.jpg" alt="" /></a></div>
							<h3>Maajon's Kitchen</h3>
							<p>A food delivery info app centered around the menu of cuisines offered by the business.
							</p>
							<strong>Tools:</strong>
							<ul class="tools">
								<li><a href="https://www.w3.org/html/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
											alt="html5" width="30" height="30" /></a></li>
								<li><a href="https://www.w3schools.com/css/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
											alt="css3" width="30" height="30" /></a></li>
								<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
											alt="javascript" width="30" height="30" /></a></li>
								<li><a href="https://nodejs.org"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
											alt="nodejs" width="30" height="30" /></a></li>
								<li><a href="https://www.mongodb.com/"><img
											src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
											alt="mongodb" width="30" height="30" /></a></li>
							</ul>
							<ul class="actions">
								<li><a href="https://maajonskitchen-demo.onrender.com/" target="_blank"
										class="button primary"><i class="fa-solid fa-eye"></i> Live</a></li>
								<li><a href="https://github.com/msrezaie/Maajons-Kitchen" target="_blank"
										class="button primary"><i class="icon brands fa-github"></i> Code</a></li>
							</ul>
						</article>
					</div>
				</section>

				<!-- experience -->
				<section>
					<header class="major">
						<h2>Experience</h2>
					</header>
					<div class="features">
						<article>
							<div class="content">
								<h3>Full-stack Developer at Code the Dream</h3>
								<p>● Developed user interfaces with React.js, leveraging reusable components and state
									management for a smooth user experience<br>
									● Built RESTful APIs for efficient data handling and seamless client-server
									communication<br>
									● Implemented authentication and authorization mechanisms to secure web applications
									and protect sensitive data
							</div>
						</article>
						<article>
							<div class="content">
								<h3>Freelance Web Developer</h3>
								<p>● Created full stack web applications for different clients across small and medium
									size businesses presenting their products to the market<br>
									● Utilized a wide range of technologies and frameworks, including HTML, CSS,
									JavaScript, Bootstrap, Node.js, Express.js, MongoDB, PHP, and Python<br>
								</p>
							</div>
						</article>
					</div>
				</section>

				<!-- working with -->

				<section>
					<header class="major">
						<h2>Experienced Working With</h2>
					</header>
					<ul class="skills">
						<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
								alt="mongodb" width="100" height=100"></li>
						<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
								alt="express" width="100" height=100"></li>
						<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
								alt="mongodb" width="100" height=100"></li>
						<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
								alt="node" width="100" height=100"></li>
						<li><img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="100"
								height=80" /></li>
					</ul>

				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">© MSREZAIE | Design: HTML5UP</p>
				</footer>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">

			<div class="inner">

				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>Let's collaborate and create innovative solutions.</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a
								href="mailto:msulaymanr@outlook.com">msulaymanr@outlook.com</a></li>
						<li class="icon brands fa-github"><a href="https://github.com/msrezaie"
								target="_blank">GitHub</a></li>
						<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/msrezaie/"
								target="_blank">LinkedIn</a></li>
					</ul>
				</section>

				<section>
					<header class="major">
						<h2>Message</h2>
					</header>
					<form id="messageForm" method="POST" action="/">
						<div class="row gtr-uniform">
							<div class="col-12 col-12-xsmall">
								<input type="email" name="email" id="email" value="" placeholder="Email" />
							</div>
							<!-- Break -->
							<div class="col-12">
								<textarea name="messageBody" id="message" placeholder="Enter your message"
									rows="3"></textarea>
							</div>
							<!-- Break -->
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Send" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
				</section>

			</div>
		</div>
	</div>

	<script src="assets/js/messageValidate.js"></script>

	<%- include('includes/end.ejs') %>