<!DOCTYPE HTML>
<html>
	<head>
		<title>Mohammad S. Rezaie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<ul class="icons">
										<li><a href="https://github.com/msrezaie" target="_blank" class="icon brands fa-github"><span class="label">github</span></a></li>
										<li><a href="https://www.linkedin.com/in/msrezaie/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a></li>
										<li><a href="https://wellfound.com/u/msrezaie" target="_blank" class="icon brands fa-angellist"><span class="label">angellist</span></a></li>
										<li><a href="https://twitter.com/mohdsrezaie" target="_blank" class="icon brands fa-twitter"><span class="label">twitter</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Mohammad</h1>
										</header>
										<p><strong>Full stack software engineer</strong> with a passion for building creative and user-friendly web applications.</p>
										<p>From building web applications to developing APIs and databases, I have gained practical experience while improving my problem-solving abilities.</p>
										<p>Outside of coding, I enjoy exploring new technologies, staying updated with industry trends, and occasionally compete in fighthing game tournaments.</p>

										<ul class="resume">
											<li><a href="/MSR-Resume.pdf" target="_blank" class="button primary big icon fa-regular fa-file">Resume</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/dp.jpg" alt="" />
									</span>
								</section>
							
							<!-- recent projects -->
								<section>
									<header class="major">
										<h2>Recent Projects</h2>
									</header>
									<div class="posts">
										<article>
											<div class="image proj-gif"><a href="https://maajonskitchen.up.railway.app/" target="_blank"><img src="images/mjk.jpg" alt="" /></a></div>
											<h3>Maajon's Kitchen</h3>
											<p>A food delivery info app centered around the menu of cuisines offered by the business.</p>
											<strong>Tools:</strong>
											<ul class="tools">
												<li><a href="https://www.w3.org/html/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="30" height="30"/></a></li>
												<li><a href="https://www.w3schools.com/css/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="30" height="30"/></a></li>
												<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="30" height="30"/></a></li>
												<li><a href="https://nodejs.org"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="30" height="30"/></a></li>
												<li><a href="https://www.mongodb.com/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="30" height="30"/></a></li>
											</ul>
											<ul class="actions">
												<li><a href="https://maajonskitchen.up.railway.app/" target="_blank" class="button primary icon fa-solid fa-eye">Live</a></li>
												<li><a href="https://github.com/msrezaie/Maajons-Kitchen" target="_blank" class="button primary icon brands fa-github">Code</a></li>
											</ul>
										</article>
										<article>
											<div class="image proj-gif"><a href="https://cryptoden.pythonanywhere.com/" target="_blank"><img src="images/cd.jpg" alt="" /></a></div>
											<h3>Textual Cryptography</h3>
											<p>A textual cryptogrpahy app allowing encryption and decyption of text using various ciphers.</p>
											<strong>Tools:</strong>
											<ul class="tools">
												<li><a href="https://www.w3.org/html/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="30" height="30"/></a></li>
												<li><a href="https://www.w3schools.com/css/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="30" height="30"/></a></li>
												<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="30" height="30"/></a></li>
												<li><a href="https://getbootstrap.com"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="30" height="30"/></a></li>
												<li><a href="https://www.python.org"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="30" height="30"/></a></li>
												<li><a href="https://www.djangoproject.com/"><img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="30" height="30"/></li>
											</ul>
											<ul class="actions">
												<li><a href="https://cryptoden.pythonanywhere.com/" target="_blank" class="button primary icon fa-solid fa-eye">Live</a></li>
												<li><a href="https://github.com/msrezaie/textual_cryptography" target="_blank" class="button primary icon brands fa-github">Code</a></li>
											</ul>
										</article>
										<article>
											<div class="image proj-gif"><a href="https://ayatclothing.netlify.app/" target="_blank"><img src="images/ay.jpg" alt="" /></a></div>											
											<h3>AYAT Modest Clothing</h3>
											<p>Website showcasing various designs of Afghan Hijab fashion clothing.</p>
											<strong>Tools:</strong>
											<ul class="tools">
												<li><a href="https://www.w3.org/html/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="30" height="30"/></a></li>
												<li><a href="https://www.w3schools.com/css/"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="30" height="30"/></a></li>
												<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="30" height="30"/></a></li>
												<li><a href="https://getbootstrap.com"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="30" height="30"/></a></li>
												<li><a href="https://www.php.net"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" alt="php" width="30" height="30"/></li>
											</ul>
											<ul class="actions">
												<li><a href="https://ayatclothing.netlify.app/" target="_blank" class="button primary icon fa-solid fa-eye">Live</a></li>
												<li><a href="https://github.com/msrezaie/Clothing-Fashion-Website" target="_blank" class="button primary icon brands fa-github">Code</a></li>
											</ul>
										</article>
									</div>
								</section>
								
							<!-- experience -->
								<section>
									<header class="major">
										<h2>Experience</h2>
									</header>
									<div class="features">
										<article>
											<div class="content">
												<h3>Software Engineer at 100devs</h3>
												<p>February 2022 — Present</p>
												<p>● Collaborated with a team of developers to build modern and responsive web applications using best practices<br>
													● Built semantically structured full stack web applications<br>
													● Applied agile methodologies like SCRUM for project management</p>
											</div>
										</article>
										<article>
											<div class="content">
												<h3>Freelance Full-stack Developer</h3>
												<p>April 2020 — Present</p>
												<p>● Created full stack web applications for different clients across small and medium size businesses<br>
													● Utilizing a wide range of technologies and frameworks, including HTML, CSS, JavaScript, Bootstrap, Node.js, Express.js, MongoDB, PHP, Python, and Django<br>
												</p>
											</div>
										</article>
									</div>
								</section>
							
							<!-- working with -->

								<section>
									<header class="major">
										<h2>Currently Working With</h2>
									</header>
									<ul class="skills">
										<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="node" width="100" height=100"></li>
										<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="100" height=100"></li>
										<li><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="100" height=100"></li>
										<li><img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="100" height=80"/></li>
									</ul>
									
								</section>

								<!-- Footer -->
								<footer id="footer">
									<p class="copyright">© MSREZAIE | Design: HTML5UP</p>
								</footer>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						
						<div class="inner">

							<section>
								<header class="major">
									<h2>Get in touch</h2>
								</header>
								<p>Let's collaborate to create innovative solutions.</p>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="mailto:msulaymanr@outlook.com">msulaymanr@outlook.com</a></li>
									<li class="icon solid fa-phone">(804) 350-1722</li>
									<li class="icon brands fa-github"><a href="https://github.com/msrezaie" target="_blank">GitHub</a></li>
									<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/msrezaie/" target="_blank">LinkedIn</a></li>
									<li class="icon brands fa-angellist"><a href="https://wellfound.com/u/msrezaie" target="_blank">Angellist</a></li>
									<li class="icon brands fa-twitter"><a href="https://twitter.com/mohdsrezaie" target="_blank">Twitter</a></li>
									
								</ul>
							</section>

							<section>
								<header class="major">
									<h2>Message</h2>
								</header>
								<form id="messageForm" method="POST" action="/">
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="name" id="demo-name" value="" placeholder="Name" />
										</div>
										<div class="col-6 col-12-xsmall">
											<input type="email" name="email" id="demo-email" value="" placeholder="Email" />
										</div>
										<!-- Break -->
										<div class="col-12">
											<textarea name="messageBody" id="demo-message" placeholder="Enter your message" rows="3"></textarea>
										</div>
										<!-- Break -->
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/messageValidate.js"></script>

	</body>
</html>